@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Satisfy');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab');

body {
    margin: 0;
    background-color: #F5F5F5;
    height: 100vh;
}