@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab");

body {
  margin: 0;
  background-color: #f5f5f5;
  height: 100vh;
}

/* need position:absolute on body for mobile header to be sticky, but it breaks background */
/* could make header fixed and add mt to dashboard;
 since overflow is auto, there are two vertical scrollbars on thin screens, hard to notice */

/* .hide-md {
  top: 0;
} */

@media screen and (max-width: 599px) {
  .hide-mobile {
    visibility: none;
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .hide-md {
    visibility: none;
    display: none;
    top: 0;
  }
}
